@import "variables";
@import "fonts";

html {
  box-sizing: border-box;
  overflow-y: scroll !important;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  padding: 0;
}
.demoBtns {
    opacity: 0.6;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 30;
    background: black;
    a {
        display: inline-block;
        margin: 0.2em;
        padding: 0.2em 0.6em;
        background: white;
        border: 1px solid;
        cursor: pointer;
    }
}
.wrap {
    max-width: 1280px;
    height: 1300px;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}
.bg-img {
    width: 100%;
    height: 1300px;
    background-position: center;
    position: absolute;
    top: 0;
    // transition: transform 1200ms cubic-bezier(0.42, 0.15, 0.52, 0.96);
    // transition: transform 1200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    // transition: transform 1200ms cubic-bezier(0.14, 0.38, 0.36, 1.41);
    transition: transform 1200ms cubic-bezier(0.33, 0.22, 0.36, 1.21);
}

.bg-before-img {
    background-image: url('../assets/bg_nomask.png');
}

.bg-after-img {
    background-image: url('../assets/bg_darkmask.png');
    display: none;
}

.bg-loginform-img {
    background-image: url('../assets/login.png');
}

.bg-summary-img {
    background-image: url('../assets/accountsummary.png');
}

.bg-is-left {
    transform: translateX(-100%);
}

.bg-is-right {
    transform: translateX(100%);
}

/*
*
*/
.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(255,255,255,0.95); /*whiteout the background*/

}
.loadingModal {
    z-index: 20;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    max-width: 400px;
    text-align: center;
}


.loadingModal--circle {
    height: 174px;
    position: relative;
}
.loadingModal--circle > svg {
    height: 100%;
    display: block;
}
.loadingModal--percentage {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0px;
    margin: 0px;
    transform: translate(-50%, -50%);
    font-size: 42px;
    color: $grey85;
    font-family: $body-font-family;
    &:after {
      content: '%';
      font-size: 80%;
    }
}
.progresstext,
.progressBar--lable {
    margin-bottom: 1.6em;
    font-size: 18px;
    font-family: $body-font-family;
    color: $grey60;
}
.progresstext--string {

}
.progresstext--dots {
    position: absolute;
}
.progressBar--lable {
    text-align: center;
    width: 100%;
    display: block;
}
.progressBar--container {
    width: 100%;
    height: 24px;
    background: $grey15;
}

.progressBar--bar{
    background-color: $blue1;
    width: 0%;
    height:100%;
}
