/**
 * Paths
 */
/**
 * FIL Brand colours
 * Note: 1 = Darkest of palette
 */
/**
 * The Grey array
 */
/**
 * FIL Funds Network colours
 */
/**
 * FIL Charting Colours
 * Note: charting colours are named in the order they should be used
 */
/**
 * Helper / Non specific colours
 */
/**
 * Colour arrays
 */
@font-face {
  font-family: 'neuzeit_grotesk';
  src: url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.eot");
  src: url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.woff2") format("woff2"), url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.woff") format("woff"), url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.ttf") format("truetype"), url("../assets/fonts/neuzeitgro/light/neuzeitgro-lig.svg#neuzeit_grotesklight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'neuzeit_grotesk';
  src: url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.eot");
  src: url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.woff2") format("woff2"), url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.woff") format("woff"), url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.ttf") format("truetype"), url("../assets/fonts/neuzeitgro/regular/neuzeitgro-reg.svg#neuzeit_groteskregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'neuzeit_grotesk';
  src: url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.eot");
  src: url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.woff2") format("woff2"), url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.woff") format("woff"), url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.ttf") format("truetype"), url("../assets/fonts/neuzeitgro/bold/neuzeitgro-bol.svg#neuzeit_groteskbold") format("svg");
  font-weight: bold;
  font-style: normal; }

html {
  box-sizing: border-box;
  overflow-y: scroll !important; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0; }

.demoBtns {
  opacity: 0.6;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 30;
  background: black; }
  .demoBtns a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.2em 0.6em;
    background: white;
    border: 1px solid;
    cursor: pointer; }

.bg-img-wrap {
  max-width: 1280px;
  height: 1300px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden; }

.bg-img {
  width: 100%;
  height: 1300px;
  background-position: center;
  position: absolute;
  top: 0;
  transition: transform 1200ms cubic-bezier(0.33, 0.22, 0.36, 1.21); }
  .bg-img.is-left {
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); }
  .bg-img.is-right {
    -ms-transform: translateX(100%);
    transform: translateX(100%); }

.bg-before-img {
  background-image: url("../assets/bg_nomask.png"); }

.bg-after-img {
  background-image: url("../assets/bg_darkmask.png");
  display: none; }

.bg-loginform-img {
  background-image: url("../assets/login.png"); }

.bg-summary-img {
  background-image: url("../assets/accountsummary.png"); }

/*
* Below is used for the progress ring animation
*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  /*whiteout the background*/ }

.progressLoader {
  z-index: 20;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: transform 300ms ease-out, opacity 200ms ease-out; }
  .progressLoader.is-right {
    -ms-transform: translate(-30%, -50%);
    transform: translate(-30%, -50%);
    opacity: 0; }

.progressLoader--circle {
  height: 174px;
  position: relative; }

.progressLoader--circle > svg {
  height: 100%;
  display: block; }

.progressLoader--percentage {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0px;
  margin: 0px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 42px;
  color: #262626;
  font-family: "neuzeit_grotesk", Arial, Helvetica, sans-serif; }
  .progressLoader--percentage:after {
    content: '%';
    font-size: 80%; }

.progresstext,
.progressBar--lable {
  margin-bottom: 1.6em;
  font-size: 18px;
  font-family: "neuzeit_grotesk", Arial, Helvetica, sans-serif;
  color: #666666; }

.progresstext--dots {
  position: absolute; }

.progressBar--lable {
  text-align: center;
  width: 100%;
  display: block; }

.progressBar--container {
  width: 100%;
  height: 24px;
  background: #D9D9D9; }

.progressBar--bar {
  background-color: #006193;
  width: 0%;
  height: 100%; }
